<div>
  <h1>Pregled jedne kruske</h1>
</div>
<ul class="nav nav-pills">
  <li role="presentation" [routerLink]="('/kruske/'+id+'/info')">
    <a>Informacije</a>
  </li>
  <li role="presentation" [routerLink]="('/kruske/'+id+'/edit')">
    <a>Editovanje</a>
  </li>

</ul>
<router-outlet></router-outlet>
