<form>
  <div class="form-group">
      <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
          <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
      </div>
  </div>
</form>

<table class="table">
  <thead class="table table-bordered">
    <tr>
      <th></th>
      <th scope="col">#</th>
      <th scope="col">Nutrition Val.</th>
      <th scope="col">Weight</th>
      <th scope="col">Color</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kruske of kruskeModel.kruske |  filterSearch : searchString">
      <td>
        <button class="btn btn-info" (click)="otvoriKrusku(kruske.id)">Otvori</button>
      </td>
      <td>{{kruske.id}}</td>
      <td>{{kruske.nutritionValue}}</td>
      <td>{{kruske.weight}}</td>
      <td>{{kruske.color}}</td>
      <td>
        <button class="btn" [ngStyle]="{'background-color':kruske.color}"></button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="editKrusku(kruske.id)">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteKrusku(kruske.id)">Obrisi</button>
      </td>
    </tr>
  </tbody>
</table>
