<form class="container">
  <div class="form-group">
    <label>Nutrition val.</label>
    <input class="form-control" name="nutritionValue" placeholder="Nutrition val." [(ngModel)]="kruske.nutritionValue">
  </div>
  <div class="form-group">
    <label>Weight</label>
    <input class="form-control" name="weight" placeholder="Weight" [(ngModel)]="kruske.weight">
  </div>
  <div class="form-group">
    <label>Color</label>
    <select class="form-control" name="color" [(ngModel)]="kruske.color">
      <option disabled>Izaberi..</option>
      <option [ngValue]="boja.key" *ngFor="let boja of colors">{{boja.label}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default" (click)="dodajKrusku()">Dodaj Krusku</button>
</form>
