<div class='col-md-12'>
<h4>Da li stvarno zelite da obrisete Krusku sa ID {{id}}?</h4>

<button class="btn btn-primary" (click)="deleteKrusku()">DA</button>
<button class="btn btn-danger" routerLink="/kruske/">NE</button>
</div>